{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">
    <title>Document</title>
</head>
{% endblock %}
<body>
{% block content %}
    <main class="main">
        <div class="container">
            <section class="about">
                <div class="about_us">
                    <div class="about_us_1">
                        <h1>درباره ما</h1>
                        <p>With me
                            <br>
                            پلتفرمی است که شما می توانید آن را همراه و دوست ابدی خود بدانید و به دنبال این است که آینده و حال خوبی داشته باشید.این سایت از طریق،فیلم ها،پاد کست ها،کتاب ها،و اهنگ های با شما ارتباط برقرار می کند تا اوقات خوبی را سپری کنید.ما متوجه شدیم که برای اینکه افراد در زندگی احساس بهتری داشته باشند تا آینده روشنی برای خود بسازند،لازم است دوست و همراهی پیدا کنند که تا ابد در کنارشان باشد و آنها را راهنمایی کنند.
                            </p>
                    </div>
                    <div class="about_us_img"><img src="{% static 'img/about_us.jpg' %}" alt="" class="about_us_img"></div>
                </div>
                <div class="about_us_s2">
                    <div class="about_us_s.1">
                        <h2>هدف از راه اندازی With me</h2>
                        <p>هدف از راه اندازی With Me این است که مانند دوست و همراهی برای شما شود تا در زندگی بتوانید حتی در سخت ترین شرایط زندگی خود روی کمک و راهنمایی های بهترین دوستشان (With Me) حساب کنید.
                            With Me می خواهد با او سختی ها را پشت سر بگذارید و حال و آینده ی خوبی برای خودتان به ارمغان بیاورید.</p>
                    </div>
                    <div class="about_us_s_2">
                        <h2>چشم انداز With me</h2>
                        <p>With Me قصد دارد که به عنوان نزدیک ترین دوست و همراه تمامی افراد شناخته شود که در تمامی کارها آنها را یاری می کند.
                            برای With Me فرقی نمی کند که شما اهل چه دوره ، استان و....... هستید، از نظر With Me شما فقط و فقط بهترین دوست او هستید و او همیشه در کنار شما هست و شما را راهنمایی می کند.</p>
                    </div>
                    <div class="about_us_s">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}
</body>
</html>