{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/music.css' %}">
</head>
{% endblock %}
<body>
{% block content %}
    <main class="main">
        <div class="container">
            <section class="books">
                <div class="book">
                    <div class="content">
                        <h1>{{ podcast.name }}</h1>
                        <audio controls>
                            <source src="{{ podcast.audio.url }}" type="audio/mp3">
                            <source src="{{ podcast.audio.url }}" type="audio/mpeg">
                            can't be played
                        </audio>
                    </div>
                    <div class="images">
                        <img class="image" src="{{ podcast.image.url }}" alt="">
                    </div>
                </div>
                <h1 style="margin-top: 5rem;margin-bottom: 3rem;">پادکست های بیشتر</h1>
                <div class="more_books">
                    {% for pod in podcasts %}
                    	<div class="box">
                        <div class="simages">
                            <img src="{{ pod.image.url }}" alt="book" class="simage">
                        </div>
                            <h3><a style="text-decoration: none" href="{% url 'core:podcast_detail' pod.feeling pod.id %}">{{ pod.name }}</a></h3>
                        <p style="margin-top: -3px;">{{ pod.description | truncatewords:10 }}</p>
                    </div>
                    {% endfor %}

                </div>
            </section>
        </div>
    </main>
{% endblock content%}
    <footer class="footer">
        <div class="container">
            <div class="footer_bottom">
                <div class="footer_right">
                    <h3 class="footer_about_header">اطلاعات تماس</h3>
                    <p class="footer_p"><strong>آدرس:</strong>مازندران-بابل-امامزاده قاسم-هادی 11.1</p>
                    <p class="footer_p"><strong>شماره تماس:</strong>09115673743</p>
                    <p class="footer_p"><strong>ایمیل:</strong>sajjad.kafshgar123@gmail.com</p>
                </div>
                <div class="footer_left">
                    <div><img src="" alt="" class="footer img"></div>
                    <div class="flex">
                        <div class="footer_contact_platforms"> </div>
                        <div class="footer_logos"><img src="./imgs/1.png" alt="" class="footer_logo"></div>
                    </div>
                    <div class="footer_contact_about"><p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در </p></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>